<div id="about" class="container custom-width py-5 mt-3 px-5">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/Kartik's Profile.png" alt="John Smith"
                class="img-fluid shadow" width="200">
        </div>
        <div class="col-md-9 p-0">
            <h2>{{ typedName }}</h2>
            <h5 class="text-secondary">{{ typedTitle }}</h5>

            <p class="mb-1"><i class="fa-solid fa-house"></i> Kota,
                Rajasthan,
                India</p>
            <a href="assets/Kartik_Vaishnav_6377948060_New.pdf" download
                class="btn btn-outline-light me-2">
                <i class="fa-solid fa-download"></i> Resume
            </a>

            <!-- Border line with contact row -->
            <hr class="my-3 border-light">

            <div
                class="d-flex justify-content-between align-items-center flex-wrap contact-bar">
                <div>
                    <a href="mailto:kartikvaishnav0805@gmail.com"
                        class="link-hover text-decoration-none"
                        style="color: #6c757d;">
                        <i class="fas fa-envelope me-2"></i>
                        kartikvaishnav0805&#64;gmail.com
                    </a>
                </div>

                <div class="d-flex gap-3 flex-wrap">
                    <a href="https://www.linkedin.com/in/kartikvaishnav08/"
                        target="_blank">
                        <i class="fab fa-linkedin me-1"></i> LinkedIn
                    </a>
                    <a href="https://github.com/Kartikv08" target="_blank">
                        <i class="fab fa-github me-1"></i> GitHub
                    </a>
                    <a href="https://leetcode.com/u/_Kartik_0805/"
                        target="_blank">
                        <i class="fas fa-code me-1"></i> LeetCode
                    </a>
                </div>
            </div>

        </div>

    </div>
    <div class="row mt-4">
        <div class="col">
            <h3 class="mb-4 mt-5">About me</h3>
            <p style="font-size: 14px;">
                I’m a dedicated Full Stack Developer with 2.5 years of hands-on
                experience in designing and developing responsive web
                applications. My core expertise lies in working with modern
                JavaScript frameworks like Angular and React, along with robust
                backend technologies such as Node.js, Express.js, and MongoDB. I
                focus on building clean, intuitive user interfaces and scalable
                APIs that deliver smooth performance and high reliability across
                platforms.
            </p>
            <p style="font-size: 14px;">
                I enjoy collaborating in agile environments, where I contribute
                to end-to-end development, from wireframes to deployment.
                Problem-solving, continuous learning, and writing efficient,
                maintainable code are at the heart of my approach. Whether it's
                optimizing frontend performance or structuring backend services,
                I’m passionate about delivering meaningful digital solutions
                that create impact.
            </p>
        </div>
    </div>
</div>